body {
    background-color: #525252;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}



.cont_nav {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.hflex {
    display: flex;
    align-items: center;
}

.logo {
    font-family: nunito;
    text-decoration: none;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    color: orange;
}


.link_nav {
    font-family: nunito;
    text-decoration: none;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    color: orange;
}

.link_nav:hover {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav {
    margin-right: 50px;
}
.nav:last-child {
    margin-right: 0px;
}

.header_solid {
    position: fixed;
    width: 100%;
    background-color: #3d3d3d;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.svg_header  {
    height: 60px;
    width: 60px;
    fill: orange;
    padding-right: 10px;
}

.svg_header:hover  {
    fill: white;

}

.logos {
    display: flex;
    align-items: center;
    margin-right: 689px;
}
.svg_header:hover .logo {
    fill: white;

}

.logos:hover .logo{
    color: #FFFFFF;
    fill: white;
}

.logos:hover .svg_header{
    color: #FFFFFF;
    fill: white;
}

.logo:hover svg{
    color: #FFFFFF;
    fill: white;
}

.logo:hover .svg_header {
    color: #FFFFFF;
    fill: white;
}

.logo:hover {
    color: #FFFFFF;
    fill: white;
}


.news {
    width: 100%;
    background: #424242;
    height: 400px;
}

.container_news {
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    height: 560px;
}

.container_image {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/update1.png);
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 1%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.container_hero {
    background-image: url(../img/title.png);
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    
}
/* background-image: linear-gradient( to left, rgba(255, 9, 0, 0.3), rgba(250, 255, 0, 0.3)), url(../img/header.png); */
.hero_title {
    font-weight: 900;
    font-size: 80px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: orange;
    text-decoration: none;
    font-family: nunito;
    font-style: normal;
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.button_info {
    background: #3d3d3d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    font-family: nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: orange;
    display: inline-block;
    text-decoration: none;
    margin-left: calc((100% - 200px) / 2);
    margin-right: calc((100% - 200px) / 2);
    margin-bottom: 0px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button_info:hover {
    background: orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    font-family: nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #3d3d3d;
    display: inline-block;
    text-decoration: none;
    margin-left: calc((100% - 200px) / 2);
    margin-right: calc((100% - 200px) / 2);
    margin-bottom: 200px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button_info:active {
    background: orange;
    box-shadow: none;
    color: #3d3d3d;
}

.container_info {
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    height: 560px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.sect_text {
    font-family: nunito;
    text-decoration: none;
    font-style: normal;
    font-size: 44px;
    line-height: 30px;
    color: orange;
    margin-top: 25px;
}

.ziki_text {
    font-family: nunito;
    text-decoration: none;
    font-style: normal;
    font-size: 35px;
    line-height: 30px;
    color: orange;
    margin-top: 25px;
}

.info_card {
    display: flex;
}

.cards {
    margin-right: calc((100% - 1050px) / 2);
    background: #3d3d3d;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 350px;
    margin-top: 25px;

}

.cards_minigame {
    margin-right: calc((100% - 1050px) / 2);
    background: #292929;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 350px;
    margin-top: 25px;
}

.cards_ziki {
    margin-right: calc((100% - 1050px) / 2);
    background: #3d3d3d;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 350px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.cards:last-child {
    margin-right: 0px;


}

.cards_ziki:last-child {
    margin-right: 0px;
    margin-left: 0px;


}



.images {
    height: 260px;
    width: 350px;
    border-radius: 1%;
}

.info_text {
    font-family: nunito;
    text-decoration: none;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    color: orange;
    text-align: center;


}

.line_info {
    font-family: nunito;
    text-align: justify;
    font-style: normal;
    font-size: 21px;
    line-height: 1.16;
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
}

.line_minigame {
    font-family: nunito;
    text-align: justify;
    font-style: normal;
    font-size: 21px;
    line-height: 1.16;
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
}

.minigame {
    width: 100%;
    background: #424242;
    height: 625px;
}

.ziki {
    width: 100%;
    height: 625px;
}

.cont_minigame {
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    padding-top: 50px;
}
